<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="RecloserAcq.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <RecloserAcq.Properties.Settings>
            <setting name="PollingInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LatencyBetweenRequest" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="CurrentDuration" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MaxCurrent" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="SQLConnection" serializeAs="String">
                <value>Data Source=(local);Initial Catalog=Recloser;User ID=sa;Password=password00</value>
            </setting>
            <setting name="SaveDataInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="dvpath" serializeAs="String">
                <value>C:\Recloser\Devices\</value>
            </setting>
            <setting name="alertsoundfile" serializeAs="String">
                <value>Windows Exclamation.wav</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>8888</value>
            </setting>
            <setting name="soundduration" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="playcount" serializeAs="String">
                <value>2</value>
            </setting>
        </RecloserAcq.Properties.Settings>
    </userSettings>
</configuration>
